@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(assests/img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1400px 100vw);
    height: 90vh;
    position: relative;

}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 65px;

}

nav img {
    height: 124px;
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 30x;
    padding: 0px 30px;
    text-align: center;
}

.hero> :first-child {

    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    text-align: center;
}

.hero> :nth-child(4) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    text-align: center;
}

.reg {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.saperation {
    height: 6px;
    background-color: rgb(66, 65, 65);

}

.btn {
    padding: 3px 8px;
    background-color: rgba(248, 243, 243, 0.342);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.532);
    cursor: pointer;
    border-radius: 4px;


}

.btn-red-sm {
    background-color: red;
    color: white;
    font-family: "Martel Sans", sans-serif;
    padding: 2px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid red;
    font-weight: 700;
    width: 5vw;
    margin: 8px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid red;
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
}

.main input {
    padding: 7px 100px 8px 14px;
    font-weight: 900;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid grey;
}

#language {
    background-color: rgba(128, 128, 128, 0.084);
    color: white;
    font-family: "Martel Sans", sans-serif;
    padding: 2px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.495);
    font-weight: 700;
    width: 8vw;
    margin: 8px;

}

button img {
    width: 15px;
    height: 15px;
    filter: invert(1);
    padding: 4px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.navright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.curved-container {
    position: relative;
    background: linear-gradient(to bottom, #0f0f0f, #000000);
    border-top-left-radius: 40% 15%;
    border-top-right-radius: 40% 15%;
    padding: 3px 0px 0px;
    margin-top: -80px;
    /* Pull up into previous section */
    z-index: 1;
    color: white;
    background: linear-gradient(to right, black, red, black);
}

.content {
    position: relative;
    background: radial-gradient(circle at top, #13143f, #000000, #000000);
    border-top-left-radius: 40% 12%;
    border-top-right-radius: 40% 12%;
    padding: 60px 160px 10px;
    /* margin-top: -80px; Pull up into previous section */
    z-index: 1;
    color: white;
    margin-top: 0;
}
.content h2{
        font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    /* padding: 5px; */
}
.movies{
    display: flex;
    justify-content: center;
    border-top-left-radius: 40% 12%;
    border-top-right-radius: 40% 12%;
    background: radial-gradient(circle at top, #0c0d29, #000000, #000000);

}
.movies img {
    width: 12vw;
    height: 40vh;
    border-radius: 12px;
    position: relative;
    padding: 0; 
    display: block;
}

.card {
    position: relative;
    display: inline-block;
    margin: 0px 20px 50px;
    overflow: visible; 
}

.card-number {
    position: absolute;
    bottom: 5px;
    left: -20px;
    font-size: 6rem;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 2px rgb(178, 178, 178);
    z-index: 10;
    font-family: 'Arial Black', sans-serif;
}
